/* header.container-fluid img {
    max-width: 300px;
} */

.main-nav ul > li, main aside > nav > ul > li, footer nav > ul > li {
    list-style: none;
    cursor: pointer;
}

main aside > nav > ul {
    font-size: 0.8rem;
    padding-left: 5px;
}

.produto {
    width: 200px;
    margin: 10px 0px;
}


/*Estilo do Ãcone Carrinho*/
.carrinho-fixed{
    display: flex;
    justify-content: center;
    position: fixed;
    top: 90px;
    right: -122px;
    width: 100px;
    height: 100px;
    border: 5px solid #d66a75;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.25s;
}

.position-right{
    right: 0px;
}

.carrinho-fixed:hover {
    transform: scale(1.2);
    transition: 0.25s;
}

.carrinho-fixed > img {
    width: 50px;
}

.carrinho-fixed > p {
    position: absolute;
    font-weight: bold;
    text-align: center;
    width: 15px;
    top: -8px;
    left: -4px;
}

.carrinho-fixed::before{
    position: absolute;
    top: -15px;
    left: -15px;
    border-radius: 50%;
    content: '';
    width: 40px;
    height: 40px;
    background-color: #ffc107;
    border: 5px solid #d66a75;
}

/* Caixa de itens do Carrinho */
.caixa-carrinho{
    width: 300px;
    height: 300px;
    border-radius: 5px;
    
    position: fixed;
    top: 150px;
    right: 0px;
}

#botao-fechar-carrinho{
    position: absolute;
    top: -7px;
    right: -1px;
}